
<main class="container">
		<div class="jumbotron jumbotron-fluid wrapper">
			
			<h1 class="display-7 header-text"><%= title %></h1>
			
		</div>
		<div><h1 class="display-7"><%= name %></h1></div>
		<div class="background">
			<img src="Assets/images/Abhi.jpg" style="height:250px" alt="Abhi's photo"/>
			<h2 style="text-align: center">Hi, I'm Abhi Patel</h2>
			<div class="text">
			<p>
				I am from India and have a bachelor's degree in computer Engineering.<br/><br/>

				After that, I worked as SQL developer for more than 1 year and as a software specialist in a medical IT company 
				for 2 years where I managed databases of multiple hospitals and provided technical support.<br/><br/>
				
				Currently, I have taken admission in an Artificial Intelligence Fast-track program to enhance my other skills
				 like programming skills, data visualization skills and data analysis skills by learning important and fundamental 
				 aspects of Artificial Intelligence. <br/><br/>

				In my spare time, I like to do outdoor activities like swimming, dance, horse-riding and travelling.<br/><br/>

				Professionally, I would like to become a data analyst in a reputed organization and would feel grateful to have
				 a chance to suggest important decisions to the organization through my data analysis and related skills.
			</p>
			
			</div>
			<div>
			<button type="button" class="btn btn-warning"><a href="/assets/images/resume.pdf" view>View My Resume</button>
			
			
			<p></p>
			
			</div>
		
		</div>
</main>

	<style>
		.text{
			text-align: left;
			font-size: 13px;

		}
		.wrapper {
			position: relative;
		}

		.header-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: 0;
			height: 220px;
		}

		.header-wrapper img {
			height: 100%;
			width: 100%;
		}

		.header-text {
			z-index: 2;
			position: relative;
			color: #034077;
			margin-left: 15px;
		}
		.logo{
			
			
			position: relative;
			top: 0;
			right:0;
			left:0;
			z-index: 0;
			height: 40px;
			margin-right:7px;


		}
		.navbar-brand{
			margin-left: 20px;
			font-style: italic;

		}

		.nav-link{
			margin-right: 15px;
		}
		
		.header-text{
			font-variant: small-caps;
			font-family: Georgia, serif;
		}
		.background{
			background: #f5f5f5;
		}
	</style>