
<main class="container">
		<div class="jumbotron jumbotron-fluid wrapper">
			
			<h1 class="display-7 header-text"><%= title %></h1>
			
		</div>
		<div><h1 class="display-7">Hi, I'm Abhi</h1>
		<h5 style="margin-left:30px">SQL developer</h5>
		</div>

		<div class="background">	
			<div>
				<h2><b>Mission :</b></h2>
				
				<p>I work hard every day to provide respected service for customers who are in need to keep their data organized , efficient and secured.</p>

				<p>To know more about my experience, what I provide or how we can get in touch for optimistic services, connect with me today. </p>
			</div>
		
			<div>
			<button type="button" class="btn btn-warning"><a href="https://comp229-abhi.herokuapp.com/about" view>Know more</button>
			<button type="button" class="btn btn-warning"><a href="https://comp229-abhi.herokuapp.com/services" view>Services</button>
			<p></p>
			</div>
		</div>
</main>

	<style>
		.wrapper {
			position: relative;
		}

		.header-wrapper {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			z-index: 0;
			height: 220px;
		}

		.header-wrapper img {
			height: 100%;
			width: 100%;
		}

		.header-text {
			z-index: 2;
			position: relative;
			color: #034077;;
			margin-left: 15px;
			
		}
		.logo{
			
			
			position: relative;
			top: 0;
			right:0;
			left:0;
			z-index: 0;
			height: 40px;
			margin-right:7px;


		}
		.navbar-brand{
			margin-left: 20px;
			font-style: italic;

		}

		.nav-link{
			margin-right: 15px;
		}
		
		.header-text{
			font-variant: small-caps;
			font-family: Georgia, serif;
		}
		.background{
			background: #f5f5f5;
			
		}

	</style>